@page
@model Sales.Pages.clientes.EditarModel
@using Sales.Pages.Vendas
@using Npgsql;
@{
}

<head>
   <style>
        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            width: 100%;
        }

        .content-table thead tr {
            background-color: #14a387;
            color: #FFFFFF;
            text-align: left;
            font-weight: bold;
            font-size: 18px;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        tr:hover {
            background-color: #e8e8e8;
        }
        .btn-primary {
            color: #fff;
            background-color: #14a387;
            border-color: #14a387;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #129379;
            border-color: #10836c;
        }

        .btn-outline-primary {
            color: #14a387;
            border-color: #14a387;
        }

        .btn-outline-primary:hover {
            color: #fff;
            background-color: #14a387;
            border-color: #14a387;
        }
    </style>
</head>

<br>
<h2>Editar Cliente</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post">
    <input type="hidden" name="id" value="@Model.cliente.Id">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="newid" value="@Model.newId">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nome" value="@Model.cliente.Nome">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.cliente.Email">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Morada</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="morada" value="@Model.cliente.Morada">
        </div>
    </div>
    @if (Model.sucessMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-sucess alert-dismissible fade show" role="alert">
                    <strong>@Model.sucessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/clientes" role="button">Cancelar</a>
        </div>
    </div>
</form><br></br>
<span style="font-size: 32px;">Vendas do Cliente:</span>
<input type="text" size="8" style="text-align: center; background-color: #e8e8e8;" value="@Model.TotalVendas€" disabled>
<table class="content-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Id da Compra</th>
            <th>Preço</th>
            <th>Data da Venda</th>
        </tr>
    </thead>
    <tbody>
        @{
            String connectionString = "Server=localhost; Database=stefan.d.k; User ID=stefan.d.k";
            List<Venda> vendas = new List<Venda>();
                using (NpgsqlConnection connection = new NpgsqlConnection(connectionString))
                {
                    connection.Open();
                    string sql = "SELECT * FROM venda JOIN cliente ON venda.cliente=cliente.id WHERE cliente = @id ORDER BY venda.Id";
                    NpgsqlCommand command = new NpgsqlCommand(sql, connection);
                    command.Parameters.AddWithValue("@id", Model.oldId);
                    NpgsqlDataReader reader = command.ExecuteReader();
                    while (reader.Read()){
                        Venda venda = new Venda();
                        venda.Id = reader.GetInt16(0);
                        venda.CompraId = reader.GetInt16(1);
                        venda.Preco = reader.GetDouble(2);
                        venda.Data = (DateOnly) reader.GetDate(3);

                        vendas.Add(venda);
                    }
                    connection.Close();
                }
            foreach (Venda venda in vendas)
            {
                <tr data-href="/Vendas/Editar?id=@venda.Id">
                    <td>@venda.Id</td>
                    <td>@venda.CompraId</td>
                    <td>@venda.Preco€</td>
                    <td>@venda.Data</td>
                </tr>
            }
        }
    </tbody>