@page
@model Sales.Pages.Produtos.EditarModel
@{
}

<head>
   <style>
        .btn-primary {
            color: #fff;
            background-color: #14a387;
            border-color: #14a387;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #129379;
            border-color: #10836c;
        }

        .btn-outline-primary {
            color: #14a387;
            border-color: #14a387;
        }

        .btn-outline-primary:hover {
            color: #fff;
            background-color: #14a387;
            border-color: #14a387;
        }
    </style>
</head>

<br>
<h2>Editar Produto</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post">
    <input type="hidden" name="nome" value="@Model.produto.Nome">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="newName" value="@Model.newName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Descrição</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="descr" value="@Model.produto.Descr">
        </div>
    </div>
    @if (Model.sucessMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-sucess alert-dismissible fade show" role="alert">
                    <strong>@Model.sucessMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/produtos" role="button">Cancelar</a>
        </div>
    </div>
</form>
